<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Quiz</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/colors.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/quiz.css') }}">
    <script src="{{ url_for('static', filename='js/quiz.js') }}"></script>
  </head>
  <body>
    <div id="highlighter-package-specifier" data-pkg="zh-hanzi"></div>

    <div id="hanzi"></div>
    <div id="pinyin"></div>
    <div id="defs"></div>
  </body>
</html>
